In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

data = pd.read_csv('Churn_Modelling.csv')

data = data.head()

In [37]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [42]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
label_encoder_gender = LabelEncoder()

data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,1.0

In [34]:
from sklearn.preprocessing import OneHotEncoder

oneHotEncode =  OneHotEncoder()
oneHot_data = oneHotEncode.fit_transform(data[['Geography']])

oneHot_data.toarray()

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.]])

In [ ]:
oneHotVal = oneHot_data.toarray()
geoName = oneHotEncode.get_feature_names_out(['Geography'])
geoName

array(['Geography_France', 'Geography_Spain'], dtype=object)

In [33]:
oneHotVal = oneHot_data.toarray()
geoName = oneHotEncode.get_feature_names_out(['Geography'])
dataList = pd.DataFrame(oneHotVal, columns=geoName)
dataList

   Geography_France  Geography_Spain
0               1.0              0.0
1               0.0              1.0
2               1.0              0.0
3               1.0              0.0
4               0.0              1.0

In [38]:
data = pd.concat([data.drop('Geography',axis=1), dataList], axis=1)

data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Spain
0,619,Female,42,2,0.00,1,1,1,101348.88,1,1.0,0.0
1,608,Female,41,1,83807.86,1,0,1,112542.58,0,0.0,1.0
2,502,Female,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0
3,699,Female,39,1,0.00,2,0,0,93826.63,0,1.0,0.0
4,850,Female,43,2,125510.82,1,1,1,79084.10,0,0.0,1.0

In [44]:

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)


with open('oneHotEncode.pkl', 'wb') as file:
    pickle.dump(oneHotEncode, file)

In [86]:
x = data.drop('Exited', axis=1)
y = data['Exited']

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

scalar = StandardScaler()
x_train = scalar.fit_transform(x_train)
x_test = scalar.transform(x_test)

x_train

array([[ 1.44232726,  0.        ,  1.        , -0.45083482,  0.74981839,
        -0.90453403,  0.57735027,  1.        , -1.42390702, -1.73205081,
         1.73205081],
       [-1.30797349,  0.        ,  0.33333333,  1.71317231,  1.22210292,
         1.50755672,  0.57735027, -1.        ,  1.33830627,  0.57735027,
        -0.57735027],
       [-0.38330341,  0.        ,  0.33333333, -0.45083482, -0.98596066,
        -0.90453403,  0.57735027,  1.        ,  0.34092903,  0.57735027,
        -0.57735027],
       [ 0.24894964,  0.        , -1.66666667, -0.81150267, -0.98596066,
         0.30151134, -1.73205081, -1.        , -0.25532829,  0.57735027,
        -0.57735027]])

In [51]:
with open('scalar.pkl', 'wb') as file:
    pickle.dump(scalar, file)

In [88]:
x_train.shape[1]

11

In [87]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
import datetime

model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                768

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2881 (11.25 KB)
Trainable params: 2881 (11.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [89]:
import tensorflow
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import binary_crossentropy

opt = Adam(learning_rate=0.01)  # optional

loss = binary_crossentropy  # optional


model.compile(optimizer='Adam', loss="binary_crossentropy",metrics=['accuracy'])

In [96]:
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping

log_dir = 'logs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
log_callBack = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [80]:
stopProcess = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [91]:
### Train the model
history = model.fit(
    x_train,y_train,validation_data = (x_test, y_test), epochs = 100,
    callbacks=[log_callBack, stopProcess]
)

Epoch 1/100
1/1 [==============================] - 1s 783ms/step - loss: 0.6233 - accuracy: 0.7500 - val_loss: 0.5677 - val_accuracy: 1.0000
Epoch 2/100
1/1 [==============================] - 0s 67ms/step - loss: 0.5961 - accuracy: 0.7500 - val_loss: 0.5611 - val_accuracy: 1.0000
Epoch 3/100
1/1 [==============================] - 0s 87ms/step - loss: 0.5698 - accuracy: 1.0000 - val_loss: 0.5549 - val_accuracy: 1.0000
Epoch 4/100
1/1 [==============================] - 0s 79ms/step - loss: 0.5448 - accuracy: 1.0000 - val_loss: 0.5486 - val_accuracy: 1.0000
Epoch 5/100
1/1 [==============================] - 0s 85ms/step - loss: 0.5207 - accuracy: 1.0000 - val_loss: 0.5421 - val_accuracy: 1.0000
Epoch 6/100
1/1 [==============================] - 0s 80ms/step - loss: 0.4983 - accuracy: 1.0000 - val_loss: 0.5344 - val_accuracy: 1.0000
Epoch 7/100
1/1 [==============================] - 0s 83ms/step - loss: 0.4778 - accuracy: 1.0000 - val_loss: 0.5247 - val_accuracy: 1.0000
Epoch 8/100
1/1 [==============================] - 0s 74ms/step - loss: 0.4586 - accuracy: 1.0000 - val_loss: 0.5146 - val_accuracy: 1.0000
Epoch 9/100
1/1 [==============================] - 0s 80ms/step - loss: 0.4413 - accuracy: 1.0000 - val_loss: 0.5047 - val_accuracy: 1.0000
Epoch 10/100
1/1 [==============================] - 0s 70ms/step - loss: 0.4254 - accuracy: 1.0000 - val_loss: 0.4949 - val_accuracy: 1.0000
Epoch 11/100
1/1 [==============================] - 0s 80ms/step - loss: 0.4103 - accuracy: 1.0000 - val_loss: 0.4859 - val_accuracy: 1.0000
Epoch 12/100
1/1 [==============================] - 0s 87ms/step - loss: 0.3964 - accuracy: 1.0000 - val_loss: 0.4777 - val_accuracy: 1.0000
Epoch 13/100
1/1 [==============================] - 0s 90ms/step - loss: 0.3827 - accuracy: 1.0000 - val_loss: 0.4700 - val_accuracy: 1.0000
Epoch 14/100
1/1 [==============================] - 0s 75ms/step - loss: 0.3690 - accuracy: 1.0000 - val_loss: 0.4626 - val_accuracy: 1.0000
Epoch 15/100
1/1 [==============================] - 0s 79ms/step - loss: 0.3553 - accuracy: 1.0000 - val_loss: 0.4552 - val_accuracy: 1.0000
Epoch 16/100
1/1 [==============================] - 0s 84ms/step - loss: 0.3417 - accuracy: 1.0000 - val_loss: 0.4478 - val_accuracy: 1.0000
Epoch 17/100
1/1 [==============================] - 0s 75ms/step - loss: 0.3289 - accuracy: 1.0000 - val_loss: 0.4405 - val_accuracy: 1.0000
Epoch 18/100
1/1 [==============================] - 0s 67ms/step - loss: 0.3167 - accuracy: 1.0000 - val_loss: 0.4333 - val_accuracy: 1.0000
Epoch 19/100
1/1 [==============================] - 0s 87ms/step - loss: 0.3048 - accuracy: 1.0000 - val_loss: 0.4263 - val_accuracy: 1.0000
Epoch 20/100
1/1 [==============================] - 0s 84ms/step - loss: 0.2931 - accuracy: 1.0000 - val_loss: 0.4191 - val_accuracy: 1.0000
Epoch 21/100
1/1 [==============================] - 0s 81ms/step - loss: 0.2819 - accuracy: 1.0000 - val_loss: 0.4120 - val_accuracy: 1.0000
Epoch 22/100
1/1 [==============================] - 0s 142ms/step - loss: 0.2710 - accuracy: 1.0000 - val_loss: 0.4050 - val_accuracy: 1.0000
Epoch 23/100
1/1 [==============================] - 0s 75ms/step - loss: 0.2605 - accuracy: 1.0000 - val_loss: 0.3981 - val_accuracy: 1.0000
Epoch 24/100
1/1 [==============================] - 0s 72ms/step - loss: 0.2505 - accuracy: 1.0000 - val_loss: 0.3914 - val_accuracy: 1.0000
Epoch 25/100
1/1 [==============================] - 0s 76ms/step - loss: 0.2409 - accuracy: 1.0000 - val_loss: 0.3849 - val_accuracy: 1.0000
Epoch 26/100
1/1 [==============================] - 0s 83ms/step - loss: 0.2314 - accuracy: 1.0000 - val_loss: 0.3785 - val_accuracy: 1.0000
Epoch 27/100
1/1 [==============================] - 0s 85ms/step - loss: 0.2222 - accuracy: 1.0000 - val_loss: 0.3723 - val_accuracy: 1.0000
Epoch 28/100
1/1 [==============================] - 0s 74ms/step - loss: 0.2132 - accuracy: 1.0000 - val_loss: 0.3660 - val_accuracy: 1.0000
Epoch 29/100
1/1 [==============================] - 0s 76ms/step - loss: 0.2044 - accuracy: 1.0000 - val_loss: 0.3598 - val_accuracy: 1.0000
Epoch 30/100
1/1 [==============================] - 0s 81ms/step - loss: 0.1960 - accuracy: 1.0000 - val_loss: 0.3537 - val_accuracy: 1.0000
Epoch 31/100
1/1 [==============================] - 0s 75ms/step - loss: 0.1878 - accuracy: 1.0000 - val_loss: 0.3476 - val_accuracy: 1.0000
Epoch 32/100
1/1 [==============================] - 0s 79ms/step - loss: 0.1798 - accuracy: 1.0000 - val_loss: 0.3415 - val_accuracy: 1.0000
Epoch 33/100
1/1 [==============================] - 0s 77ms/step - loss: 0.1722 - accuracy: 1.0000 - val_loss: 0.3355 - val_accuracy: 1.0000
Epoch 34/100
1/1 [==============================] - 0s 73ms/step - loss: 0.1647 - accuracy: 1.0000 - val_loss: 0.3295 - val_accuracy: 1.0000
Epoch 35/100
1/1 [==============================] - 0s 74ms/step - loss: 0.1576 - accuracy: 1.0000 - val_loss: 0.3235 - val_accuracy: 1.0000
Epoch 36/100
1/1 [==============================] - 0s 76ms/step - loss: 0.1508 - accuracy: 1.0000 - val_loss: 0.3175 - val_accuracy: 1.0000
Epoch 37/100
1/1 [==============================] - 0s 86ms/step - loss: 0.1442 - accuracy: 1.0000 - val_loss: 0.3117 - val_accuracy: 1.0000
Epoch 38/100
1/1 [==============================] - 0s 70ms/step - loss: 0.1379 - accuracy: 1.0000 - val_loss: 0.3061 - val_accuracy: 1.0000
Epoch 39/100
1/1 [==============================] - 0s 79ms/step - loss: 0.1319 - accuracy: 1.0000 - val_loss: 0.3006 - val_accuracy: 1.0000
Epoch 40/100
1/1 [==============================] - 0s 71ms/step - loss: 0.1261 - accuracy: 1.0000 - val_loss: 0.2953 - val_accuracy: 1.0000
Epoch 41/100
1/1 [==============================] - 0s 66ms/step - loss: 0.1207 - accuracy: 1.0000 - val_loss: 0.2902 - val_accuracy: 1.0000
Epoch 42/100
1/1 [==============================] - 0s 78ms/step - loss: 0.1154 - accuracy: 1.0000 - val_loss: 0.2852 - val_accuracy: 1.0000
Epoch 43/100
1/1 [==============================] - 0s 72ms/step - loss: 0.1103 - accuracy: 1.0000 - val_loss: 0.2803 - val_accuracy: 1.0000
Epoch 44/100
1/1 [==============================] - 0s 78ms/step - loss: 0.1054 - accuracy: 1.0000 - val_loss: 0.2756 - val_accuracy: 1.0000
Epoch 45/100
1/1 [==============================] - 0s 67ms/step - loss: 0.1007 - accuracy: 1.0000 - val_loss: 0.2709 - val_accuracy: 1.0000
Epoch 46/100
1/1 [==============================] - 0s 71ms/step - loss: 0.0961 - accuracy: 1.0000 - val_loss: 0.2666 - val_accuracy: 1.0000
Epoch 47/100
1/1 [==============================] - 0s 70ms/step - loss: 0.0917 - accuracy: 1.0000 - val_loss: 0.2624 - val_accuracy: 1.0000
Epoch 48/100
1/1 [==============================] - 0s 83ms/step - loss: 0.0874 - accuracy: 1.0000 - val_loss: 0.2586 - val_accuracy: 1.0000
Epoch 49/100
1/1 [==============================] - 0s 79ms/step - loss: 0.0832 - accuracy: 1.0000 - val_loss: 0.2552 - val_accuracy: 1.0000
Epoch 50/100
1/1 [==============================] - 0s 74ms/step - loss: 0.0792 - accuracy: 1.0000 - val_loss: 0.2498 - val_accuracy: 1.0000
Epoch 51/100
1/1 [==============================] - 0s 76ms/step - loss: 0.0754 - accuracy: 1.0000 - val_loss: 0.2444 - val_accuracy: 1.0000
Epoch 52/100
1/1 [==============================] - 0s 65ms/step - loss: 0.0718 - accuracy: 1.0000 - val_loss: 0.2393 - val_accuracy: 1.0000
Epoch 53/100
1/1 [==============================] - 0s 85ms/step - loss: 0.0683 - accuracy: 1.0000 - val_loss: 0.2344 - val_accuracy: 1.0000
Epoch 54/100
1/1 [==============================] - 0s 71ms/step - loss: 0.0651 - accuracy: 1.0000 - val_loss: 0.2297 - val_accuracy: 1.0000
Epoch 55/100
1/1 [==============================] - 0s 103ms/step - loss: 0.0619 - accuracy: 1.0000 - val_loss: 0.2253 - val_accuracy: 1.0000
Epoch 56/100
1/1 [==============================] - 0s 76ms/step - loss: 0.0590 - accuracy: 1.0000 - val_loss: 0.2208 - val_accuracy: 1.0000
Epoch 57/100
1/1 [==============================] - 0s 74ms/step - loss: 0.0562 - accuracy: 1.0000 - val_loss: 0.2162 - val_accuracy: 1.0000
Epoch 58/100
1/1 [==============================] - 0s 75ms/step - loss: 0.0535 - accuracy: 1.0000 - val_loss: 0.2116 - val_accuracy: 1.0000
Epoch 59/100
1/1 [==============================] - 0s 75ms/step - loss: 0.0510 - accuracy: 1.0000 - val_loss: 0.2071 - val_accuracy: 1.0000
Epoch 60/100
1/1 [==============================] - 0s 76ms/step - loss: 0.0486 - accuracy: 1.0000 - val_loss: 0.2029 - val_accuracy: 1.0000
Epoch 61/100
1/1 [==============================] - 0s 74ms/step - loss: 0.0464 - accuracy: 1.0000 - val_loss: 0.1988 - val_accuracy: 1.0000
Epoch 62/100
1/1 [==============================] - 0s 70ms/step - loss: 0.0443 - accuracy: 1.0000 - val_loss: 0.1949 - val_accuracy: 1.0000
Epoch 63/100
1/1 [==============================] - 0s 81ms/step - loss: 0.0423 - accuracy: 1.0000 - val_loss: 0.1910 - val_accuracy: 1.0000
Epoch 64/100
1/1 [==============================] - 0s 72ms/step - loss: 0.0404 - accuracy: 1.0000 - val_loss: 0.1872 - val_accuracy: 1.0000
Epoch 65/100
1/1 [==============================] - 0s 78ms/step - loss: 0.0386 - accuracy: 1.0000 - val_loss: 0.1835 - val_accuracy: 1.0000
Epoch 66/100
1/1 [==============================] - 0s 76ms/step - loss: 0.0369 - accuracy: 1.0000 - val_loss: 0.1799 - val_accuracy: 1.0000
Epoch 67/100
1/1 [==============================] - 0s 79ms/step - loss: 0.0354 - accuracy: 1.0000 - val_loss: 0.1765 - val_accuracy: 1.0000
Epoch 68/100
1/1 [==============================] - 0s 77ms/step - loss: 0.0339 - accuracy: 1.0000 - val_loss: 0.1732 - val_accuracy: 1.0000
Epoch 69/100
1/1 [==============================] - 0s 69ms/step - loss: 0.0325 - accuracy: 1.0000 - val_loss: 0.1699 - val_accuracy: 1.0000
Epoch 70/100
1/1 [==============================] - 0s 70ms/step - loss: 0.0312 - accuracy: 1.0000 - val_loss: 0.1668 - val_accuracy: 1.0000
Epoch 71/100
1/1 [==============================] - 0s 82ms/step - loss: 0.0299 - accuracy: 1.0000 - val_loss: 0.1638 - val_accuracy: 1.0000
Epoch 72/100
1/1 [==============================] - 0s 82ms/step - loss: 0.0288 - accuracy: 1.0000 - val_loss: 0.1609 - val_accuracy: 1.0000
Epoch 73/100
1/1 [==============================] - 0s 75ms/step - loss: 0.0277 - accuracy: 1.0000 - val_loss: 0.1581 - val_accuracy: 1.0000
Epoch 74/100
1/1 [==============================] - 0s 70ms/step - loss: 0.0266 - accuracy: 1.0000 - val_loss: 0.1554 - val_accuracy: 1.0000
Epoch 75/100
1/1 [==============================] - 0s 72ms/step - loss: 0.0256 - accuracy: 1.0000 - val_loss: 0.1529 - val_accuracy: 1.0000
Epoch 76/100
1/1 [==============================] - 0s 67ms/step - loss: 0.0247 - accuracy: 1.0000 - val_loss: 0.1503 - val_accuracy: 1.0000
Epoch 77/100
1/1 [==============================] - 0s 70ms/step - loss: 0.0238 - accuracy: 1.0000 - val_loss: 0.1479 - val_accuracy: 1.0000
Epoch 78/100
1/1 [==============================] - 0s 67ms/step - loss: 0.0229 - accuracy: 1.0000 - val_loss: 0.1455 - val_accuracy: 1.0000
Epoch 79/100
1/1 [==============================] - 0s 66ms/step - loss: 0.0221 - accuracy: 1.0000 - val_loss: 0.1431 - val_accuracy: 1.0000
Epoch 80/100
1/1 [==============================] - 0s 68ms/step - loss: 0.0214 - accuracy: 1.0000 - val_loss: 0.1408 - val_accuracy: 1.0000
Epoch 81/100
1/1 [==============================] - 0s 83ms/step - loss: 0.0206 - accuracy: 1.0000 - val_loss: 0.1385 - val_accuracy: 1.0000
Epoch 82/100
1/1 [==============================] - 0s 64ms/step - loss: 0.0199 - accuracy: 1.0000 - val_loss: 0.1363 - val_accuracy: 1.0000
Epoch 83/100
1/1 [==============================] - 0s 86ms/step - loss: 0.0193 - accuracy: 1.0000 - val_loss: 0.1341 - val_accuracy: 1.0000
Epoch 84/100
1/1 [==============================] - 0s 64ms/step - loss: 0.0186 - accuracy: 1.0000 - val_loss: 0.1321 - val_accuracy: 1.0000
Epoch 85/100
1/1 [==============================] - 0s 79ms/step - loss: 0.0180 - accuracy: 1.0000 - val_loss: 0.1301 - val_accuracy: 1.0000
Epoch 86/100
1/1 [==============================] - 0s 80ms/step - loss: 0.0175 - accuracy: 1.0000 - val_loss: 0.1282 - val_accuracy: 1.0000
Epoch 87/100
1/1 [==============================] - 0s 71ms/step - loss: 0.0169 - accuracy: 1.0000 - val_loss: 0.1263 - val_accuracy: 1.0000
Epoch 88/100
1/1 [==============================] - 0s 76ms/step - loss: 0.0164 - accuracy: 1.0000 - val_loss: 0.1245 - val_accuracy: 1.0000
Epoch 89/100
1/1 [==============================] - 0s 69ms/step - loss: 0.0159 - accuracy: 1.0000 - val_loss: 0.1227 - val_accuracy: 1.0000
Epoch 90/100
1/1 [==============================] - 0s 66ms/step - loss: 0.0155 - accuracy: 1.0000 - val_loss: 0.1210 - val_accuracy: 1.0000
Epoch 91/100
1/1 [==============================] - 0s 67ms/step - loss: 0.0150 - accuracy: 1.0000 - val_loss: 0.1192 - val_accuracy: 1.0000
Epoch 92/100
1/1 [==============================] - 0s 76ms/step - loss: 0.0146 - accuracy: 1.0000 - val_loss: 0.1176 - val_accuracy: 1.0000
Epoch 93/100
1/1 [==============================] - 0s 63ms/step - loss: 0.0141 - accuracy: 1.0000 - val_loss: 0.1160 - val_accuracy: 1.0000
Epoch 94/100
1/1 [==============================] - 0s 73ms/step - loss: 0.0137 - accuracy: 1.0000 - val_loss: 0.1144 - val_accuracy: 1.0000
Epoch 95/100
1/1 [==============================] - 0s 62ms/step - loss: 0.0133 - accuracy: 1.0000 - val_loss: 0.1130 - val_accuracy: 1.0000
Epoch 96/100
1/1 [==============================] - 0s 130ms/step - loss: 0.0130 - accuracy: 1.0000 - val_loss: 0.1115 - val_accuracy: 1.0000
Epoch 97/100
1/1 [==============================] - 0s 64ms/step - loss: 0.0126 - accuracy: 1.0000 - val_loss: 0.1101 - val_accuracy: 1.0000
Epoch 98/100
1/1 [==============================] - 0s 68ms/step - loss: 0.0123 - accuracy: 1.0000 - val_loss: 0.1087 - val_accuracy: 1.0000
Epoch 99/100
1/1 [==============================] - 0s 72ms/step - loss: 0.0119 - accuracy: 1.0000 - val_loss: 0.1073 - val_accuracy: 1.0000
Epoch 100/100
1/1 [==============================] - 0s 74ms/step - loss: 0.0116 - accuracy: 1.0000 - val_loss: 0.1060 - val_accuracy: 1.0000

In [92]:
model.save('model.h5')

c:\Users\peternrk\Videos\ANN_Project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [93]:
%load_ext tensorboard

In [ ]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 4376), started 0:00:28 ago. (Use '!kill 4376' to kill it.)

In [110]:
import pandas as pd
from tensorflow.keras.models import load_model
import pickle

model = load_model('model.h5')

with open('oneHotEncode.pkl', 'rb') as file:
    oneHotEncode = pickle.load(file)


with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)


with open('scalar.pkl', 'rb') as file:
     scalar = pickle.load(file)

In [124]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Female',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [125]:
geo_encoder = oneHotEncode.transform([[input_data['Geography']]]).toarray()
geo_encode_df = pd.DataFrame(geo_encoder, columns=oneHotEncode.get_feature_names_out(['Geography']))
geo_encode_df

c:\Users\peternrk\Videos\ANN_Project\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Spain
0               1.0              0.0

In [128]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Female,40,3,60000,2,1,1,50000

In [ ]:
# label_encoder_gender.fit(input_df['Gender'])
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,0,40,3,60000,2,1,1,50000